@import url("normalise.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Dancing+Script:wght@700&family=Noto+Sans+HK&family=Syne+Mono&display=swap');
/* img {
    height: auto;
    max-width: 100%;
} */
/* stijlregels voor alle schermen kleiner dan 320px breed */
* {
 margin: 0;
 padding: 0;
 font-family: 'Noto Sans HK', sans-serif;
 cursor:crosshair;
}

img {
  opacity: 0.5;
}

ul {
  list-style-type: none;
}


img:hover {
  opacity: 1.0;
  height: auto;
  max-width: 100%;
}

#bovenbalk h1{
  font-size: 8em;
  font-family: 'Comfortaa', cursive;
}

.parallax {
  /* The image used */
  background-image: url("https://cdn.discordapp.com/attachments/787054262248144897/822033569551482910/background_maybe.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
  grid-template-rows: 6fr 400px 3.5fr 3.5fr 3.5fr 1.5fr;
  grid-template-areas: "hoofd hoofd hoofd"
                       "between between between"
                       "menu midden1 midden1"
                       "menu midden2 midden2"
                       "midden3 midden3 fotos"
                       "footer footer footer";

}

#bovenbalk {
  background-color: rgba(69, 162, 158, 0);
  color: #66FCF1;
  grid-area: hoofd;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#between{
  background-color: rgb(69, 162, 158);
  display:flex;
  grid-area: between;
  justify-content: space-around;
}

#linkerkolom {
  background-color: #3B8A86;
  grid-area: menu;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#centrum1 {
  background-color: #0B0C10;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-area: midden1;
  align-items: center;
}

.paragraph {
  padding: 50px;
  color: #C5C6C7
}

.pin {
  color: #C5C6C7;
  display: flex;
  padding: 10%;
}

.head {
  padding: 50px;
  color: #45A29E
}

.head2 {
  padding: 50px;
  padding-bottom: 10px;
}

#centrum2 {
  background-color: #1F2833;
  display: flex;
  grid-area: midden2;
  flex-direction: column;
  justify-content: space-evenly;
}

#centrum3 {
  background-color: #51C9C1;
  grid-area: midden3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#S3 p {
  padding: 20px;
}

#M3 {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #C5C6C7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#M3:hover {
  background-color: rgb(69, 162, 158);
}

#rechterkolom {
  background-color: #3B8A86;
  grid-area: fotos;
  padding: 10px;
}

#Contact {
  width: 100%;
  height: 50%
}

#footer {
  grid-area: footer;
  background-color: #0B0C10;
  color: #C5C6C7;
}


@media only screen and (min-width: 320px) {
    /* stijlregels voor browserschermen > 320px en < 720px */
}

@media only screen and (min-width: 720px) {
    /* stijlregels voor browserschermen > 720px en < 1024px */
}
@media only screen and (min-width:1024px) {
    /* stijlregels voor browserschermen ≥ 1024px */
}
